* {
  margin: 0;
  padding: 0;
    text-decoration: none;
    color: black;
}

body {
  width: 1920px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #fcf4f0;
    font-family: Bellota_Bold;
    color: black;
}

.bascket {
  display: flex;
  width: 100vw;
    min-height: 800px;
  justify-content: center;
  margin-bottom: 150px;
}

.bascket_block {
    min-height: 600px;
  display: flex;
  flex-direction: column;
    flex-wrap: nowrap;
}

.bascket_word {
  font-size: 60px;
  margin-top: 167px;
  margin-bottom: 9px;
}
.pp{
    display: flex;
}
.main_block {
  margin: 0 auto;
  border-radius: 25px;
  display: flex;
  height: 323px;
  width: 1224px;
  background-color: #e6dfd8;
  margin-top: 47px;
  flex-direction: row;
}
.img_basket{
    width: 310px;
    height: 277px;
    border-radius: 23px;
    margin-top: 23px;
    margin-right: 43px;
    margin-left: 23px;
}
.description {
  font-size: 20px;
  width: 484px;
  margin-top: 48px;
    margin-right: 20px;
}

.price {
    margin-bottom: 180px;
  font-size: 32px;
  display: flex;
  align-items: center;
    justify-content: center;
  width: 180px;
}

.bascket_button {
    margin-bottom: 180px;
  align-items: center;
  font-size: 21px;
  display: flex;
  flex-direction: row;
    justify-content: center;
    height: 35px;
  width: 150px;
    border: 1px solid black;
    border-radius: 10px;
}
.cont_count{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.but {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
  font-size: 20px;
  background: transparent;
    width: 14px;
  margin-left: 6px;
  margin-right: 9px;
    border: none;
}
.none{
    display: none;
}
.cont_names{
    display: flex;
    flex-direction: column;
    font-size: 36px;
    margin-top: 20px;
}
.count{
    text-align: center;
    width: 60px;
    height: 35px;
    border: 1px solid black;
    background-color:#e6dfd8 ;
    font-size: 16px;
    padding-left: 1px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
     -webkit-appearance: none;
 }

.but1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 14px;
  font-size: 20px;
  background: transparent;
  border: none;
  margin-left: 9px;
  margin-right: 6px;
}
.cont_main{
    position: relative;
    margin-left: -300px;
}
.order_cont{
    position: fixed;
    width: 413px;
    height: 227px;
    border-radius: 15px 0px 0px 15px;
    background-color: #E6DFD8;
    top: 390px;
    right: 0px;
}
.margin{
    font-family: Bellota_Bold;
    font-size: 30px;
    width: 220px;
    height: 125px;
    margin-top: 60px;
    margin-left: 60px;
}
.order_btn{
    width: 162px;
    height: 45px;
    font-size: 24px;
    background-color: #E5D3CB;
    margin-top: 50px;
    border-radius: 10px;
    border: none;
}
