@font-face {
  font-family: Marck Script;
  src: url("/shrifts/Marck.ttf");
}
@font-face {
  font-family: Bellota;
  src: url("/shrifts/Bellota.ttf");
}
@font-face {
  font-family: Bellota_Bold;
  src: url("/shrifts/Bellota_Bold.ttf");
}
